jade/cart.jade
html
	include ./components/head.jade

	body
		include ./components/header.jade

		.cart-page
			.container
				.row
					.col-md-12
						h3 Корзина

			.cart-list
				.container
					.row
						.cart-titles
							.col-md-5
								h5 Товар
							.col-md-2
								h5 Магазин
							.col-md-3
								.col-inside
									h5 Размер
								.col-inside
									h5 Цвет
							.col-md-2
								h5 Цена
				.container
					.row.border-bottom.flex-column
						.cart-item
							.col-md-5.col-xs-12.flex-1
								.image-name
									img(src="img/cart-test.png", alt="").product-image
									a(href="#").product-name Lightweight College Backpack
									.promo-comment
										.form-group
											input(type="text", value="", placeholder="Промо-код").form-control.form-code
											.icons.promo-ico
											.btn
										.form-group
											input(type="text", placeholder="Комментарий").form-control.form-comment
											.btn
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-2
								p H&M
							.col-md-3.col-xs-8.offset-4.offset-md-0.flex-3
								.col-inside
									.form-group
										input(type="text", value="One size").form-control
										button.img-btn.save
										button.img-btn.discard
								.col-inside
									p Grey
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-4
								.form-group
									p.price.default-price €
									input(type="text", value="99.90").form-control.price
									button.img-btn.save
									button.img-btn.discard
								.show-options
									i.fa.fa-ellipsis-v
									.inside-box
										a(href="#").change-item Изменить
										a(href="#").promo-code Промо-код
										a(href="#").comment Комментарий
										a(href="#") Удалить
						.cart-item
							.col-md-5.col-xs-12.flex-1
								.image-name
									img(src="img/cart-test.png", alt="").product-image
									a(href="#").product-name Lightweight College Backpack
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-2
								p Corso.de
							.col-md-3.col-xs-8.offset-4.offset-md-0.flex-3
								.col-inside
								.col-inside
									p Grey
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-4
								.form-group
									p.price.default-price €
									input(type="text", value="69.90").form-control.price
									button.img-btn.save
									button.img-btn.discard
								.show-options
									i.fa.fa-ellipsis-v
									.inside-box
										a(href="#").change-item Изменить
										a(href="#") Промо-код
										a(href="#") Комментарий
										a(href="#") Удалить
						.cart-item
							.col-md-5.col-xs-12.flex-1
								.image-name
									img(src="img/cart-test.png", alt="").product-image
									a(href="#").product-name Business Casual Leather Watch Waterproof
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-2
								p Corso.de
							.col-md-3.col-xs-8.offset-4.offset-md-0.flex-3
								.col-inside
								.col-inside
									p Silver
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-4
								p.price € 69.90
								.show-options
									i.fa.fa-ellipsis-v
									.inside-box
										a(href="#") Изменить
										a(href="#") Промо-код
										a(href="#") Комментарий
										a(href="#") Удалить

			.cart-price
				.container
					.row
						.col-md-2.offset-md-8.col-sm-3.offset-sm-6.col-xs-6
							p Скидка:
						.col-md-2.col-sm-3.col-xs-6
							p - € 9.80
					.row
						.col-md-2.offset-md-8.col-sm-3.offset-sm-6.col-xs-6
							p Итого:
						.col-md-2.col-sm-3.col-xs-6
							b € 169.80
					.row
						.col-md-6.offset-md-6
							.price-actions
								.buyer
									p Покупатель:
									.drop-down#buyer
										.visibled
											span User
												i.fa.fa-caret-down
										.inside-box
											a(href="#") User 1
											a(href="#") User 2
											a(href="#") User 3
											a(href="#") User 4


								button.btn.btn-primary Перейти к оплате


		include ./components/footer.jade

app/cart.html

<html>
  <head>
    <title>Katorg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/main.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <header>
      <div class="justify-align shadows">
        <div id="toggle-menu" class="toggle-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="main-logo"><a href="home.html"><img src="img/logo.svg" alt=""/></a></div>
        <div class="user"><a href="cart.html" class="cart"><span class="count">2</span><i class="fa fa-shopping-cart"></i></a><a href="#" id="show-user" class="login">User<i class="fa fa-caret-down"></i></a></div>
      </div>
      <div class="user-menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
              <div class="user-info">
                <p class="user-id text-md-right">User ID 102371</p>
                <p>Имя</p>
                <p>Фамилия</p>
                <p class="mail">your-email@domain.com</p>
                <div class="other-actions"><a href="#">Настройки профиля<i class="fa fa-angle-right"></i></a><a href="#">Помощь<i class="fa fa-angle-right"></i></a></div><a href="login.html" class="btn btn-primary">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="nav-inline">
                <li class="nav-item"><a href="shops.html" class="nav-link">Магазины</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Корзина</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Мои заказы</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Оплата</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Скидки</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Новости</a></li>
                <li class="nav-item"><a href="faq.html" class="nav-link">Помощь</a></li>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="cart-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Корзина</h3>
          </div>
        </div>
      </div>
      <div class="cart-list">
        <div class="container">
          <div class="row">
            <div class="cart-titles">
              <div class="col-md-5">
                <h5>Товар</h5>
              </div>
              <div class="col-md-2">
                <h5>Магазин</h5>
              </div>
              <div class="col-md-3">
                <div class="col-inside">
                  <h5>Размер</h5>
                </div>
                <div class="col-inside">
                  <h5>Цвет</h5>
                </div>
              </div>
              <div class="col-md-2">
                <h5>Цена</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row border-bottom flex-column">
            <div class="cart-item">
              <div class="col-md-5 col-xs-12 flex-1">
                <div class="image-name"><img src="img/cart-test.png" alt="" class="product-image"/><a href="#" class="product-name">Lightweight College Backpack</a>
                  <div class="promo-comment">
                    <div class="form-group">
                      <input type="text" value="" placeholder="Промо-код" class="form-control form-code"/>
                      <div class="icons promo-ico"></div>
                      <div class="btn"></div>
                    </div>
                    <div class="form-group">
                      <input type="text" placeholder="Комментарий" class="form-control form-comment"/>
                      <div class="btn"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-xs-8 offset-4 offset-md-0 flex-2">
                <p>H&M</p>
              </div>
              <div class="col-md-3 col-xs-8 offset-4 offset-md-0 flex-3">
                <div class="col-inside">
                  <div class="form-group">
                    <input type="text" value="One size" class="form-control"/>
                    <button class="img-btn save"></button>
                    <button class="img-btn discard"></button>
                  </div>
                </div>
                <div class="col-inside">
                  <p>Grey</p>
                </div>
              </div>
              <div class="col-md-2 col-xs-8 offset-4 offset-md-0 flex-4">
                <div class="form-group">
                  <p class="price default-price">€</p>
                  <input type="text" value="99.90" class="form-control price"/>
                  <button class="img-btn save"></button>
                  <button class="img-btn discard"></button>
                </div>
                <div class="show-options"><i class="fa fa-ellipsis-v"></i>
                  <div class="inside-box"><a href="#" class="change-item">Изменить</a><a href="#" class="promo-code">Промо-код</a><a href="#" class="comment">Комментарий</a><a href="#">Удалить</a></div>
                </div>
              </div>
            </div>
            <div class="cart-item">
              <div class="col-md-5 col-xs-12 flex-1">
                <div class="image-name"><img src="img/cart-test.png" alt="" class="product-image"/><a href="#" class="product-name">Lightweight College Backpack</a></div>
              </div>
              <div class="col-md-2 col-xs-8 offset-4 offset-md-0 flex-2">
                <p>Corso.de</p>
              </div>
              <div class="col-md-3 col-xs-8 offset-4 offset-md-0 flex-3">
                <div class="col-inside"></div>
                <div class="col-inside">
                  <p>Grey</p>
                </div>
              </div>
              <div class="col-md-2 col-xs-8 offset-4 offset-md-0 flex-4">
                <div class="form-group">
                  <p class="price default-price">€</p>
                  <input type="text" value="69.90" class="form-control price"/>
                  <button class="img-btn save"></button>
                  <button class="img-btn discard"></button>
                </div>
                <div class="show-options"><i class="fa fa-ellipsis-v"></i>
                  <div class="inside-box"><a href="#" class="change-item">Изменить</a><a href="#">Промо-код</a><a href="#">Комментарий</a><a href="#">Удалить</a></div>
                </div>
              </div>
            </div>
            <div class="cart-item">
              <div class="col-md-5 col-xs-12 flex-1">
                <div class="image-name"><img src="img/cart-test.png" alt="" class="product-image"/><a href="#" class="product-name">Business Casual Leather Watch Waterproof</a></div>
              </div>
              <div class="col-md-2 col-xs-8 offset-4 offset-md-0 flex-2">
                <p>Corso.de</p>
              </div>
              <div class="col-md-3 col-xs-8 offset-4 offset-md-0 flex-3">
                <div class="col-inside"></div>
                <div class="col-inside">
                  <p>Silver</p>
                </div>
              </div>
              <div class="col-md-2 col-xs-8 offset-4 offset-md-0 flex-4">
                <p class="price">€ 69.90</p>
                <div class="show-options"><i class="fa fa-ellipsis-v"></i>
                  <div class="inside-box"><a href="#">Изменить</a><a href="#">Промо-код</a><a href="#">Комментарий</a><a href="#">Удалить</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-price">
        <div class="container">
          <div class="row">
            <div class="col-md-2 offset-md-8 col-sm-3 offset-sm-6 col-xs-6">
              <p>Скидка:</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
              <p>- € 9.80</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 offset-md-8 col-sm-3 offset-sm-6 col-xs-6">
              <p>Итого:</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6"><b>€ 169.80</b></div>
          </div>
          <div class="row">
            <div class="col-md-6 offset-md-6">
              <div class="price-actions">
                <div class="buyer">
                  <p>Покупатель:</p>
                  <div id="buyer" class="drop-down">
                    <div class="visibled"><span>User<i class="fa fa-caret-down"></i></span></div>
                    <div class="inside-box"><a href="#">User 1</a><a href="#">User 2</a><a href="#">User 3</a><a href="#">User 4</a></div>
                  </div>
                </div>
                <button class="btn btn-primary">Перейти к оплате</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a></div>
    </footer>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/ews.js"></script>
  </body>
</html>
