app/faq.html

<html>
  <head>
    <title>Katorg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/main.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <header>
      <div class="justify-align shadows">
        <div id="toggle-menu" class="toggle-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="main-logo"><a href="home.html"><img src="img/logo.svg" alt=""/></a></div>
        <div class="user"><a href="cart.html" class="cart"><span class="count">2</span><i class="fa fa-shopping-cart"></i></a><a href="#" id="show-user" class="login">User<i class="fa fa-caret-down"></i></a></div>
      </div>
      <div class="user-menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
              <div class="user-info">
                <p class="user-id text-md-right">User ID 102371</p>
                <p>Имя</p>
                <p>Фамилия</p>
                <p class="mail">your-email@domain.com</p>
                <div class="other-actions"><a href="#">Настройки профиля<i class="fa fa-angle-right"></i></a><a href="#">Помощь<i class="fa fa-angle-right"></i></a></div><a href="login.html" class="btn btn-primary">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="nav-inline">
                <li class="nav-item"><a href="shops.html" class="nav-link">Магазины</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Корзина</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Мои заказы</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Оплата</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Скидки</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Новости</a></li>
                <li class="nav-item"><a href="faq.html" class="nav-link">Помощь</a></li>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="faq-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Помощь</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="video-container bg">
              <!-- bg клас можно удалить в нем указани только минимальная висота и цвет фона сделано просто для визуального отображения--><i class="fa fa-video-camera"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Остались вопросы?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="faq-accordion">
              <div class="card">
                <div class="card-header collapsed">
                  <h5>1. На что стоит обратить внимание при заказе через KatCart?</h5>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    <ul>
                      <li>размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору</li>
                      <li> количество артикулов отражается в счетчике KatCart-расширения</li>
                      <li>максимально возможное количество артикулов в корзине равно 10</li>
                      <li>все внесенные в корзину артикулы оформляются на одного клиента</li>
                      <li>в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed">
                  <h5>2. Почему заказы из некоторых онлайн-шопов возможны только через KatCart?</h5>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    <ul>
                      <li>размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору</li>
                      <li> количество артикулов отражается в счетчике KatCart-расширения</li>
                      <li>максимально возможное количество артикулов в корзине равно 10</li>
                      <li>все внесенные в корзину артикулы оформляются на одного клиента</li>
                      <li>в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed">
                  <h5>3. Для каких операционных систем устанавливается KatСart?</h5>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    <ul>
                      <li>размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору</li>
                      <li> количество артикулов отражается в счетчике KatCart-расширения</li>
                      <li>максимально возможное количество артикулов в корзине равно 10</li>
                      <li>все внесенные в корзину артикулы оформляются на одного клиента</li>
                      <li>в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed">
                  <h5>4. Как добавить артикул в корзину расширения?</h5>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    <ul>
                      <li>размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору</li>
                      <li> количество артикулов отражается в счетчике KatCart-расширения</li>
                      <li>максимально возможное количество артикулов в корзине равно 10</li>
                      <li>все внесенные в корзину артикулы оформляются на одного клиента</li>
                      <li>в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed">
                  <h5>5. Как проходит оформление заказа?</h5>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    <ul>
                      <li>размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору</li>
                      <li> количество артикулов отражается в счетчике KatCart-расширения</li>
                      <li>максимально возможное количество артикулов в корзине равно 10</li>
                      <li>все внесенные в корзину артикулы оформляются на одного клиента</li>
                      <li>в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed">
                  <h5>6. Как использовать подарочный купон?</h5>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    <ul>
                      <li>размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору</li>
                      <li> количество артикулов отражается в счетчике KatCart-расширения</li>
                      <li>максимально возможное количество артикулов в корзине равно 10</li>
                      <li>все внесенные в корзину артикулы оформляются на одного клиента</li>
                      <li>в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed">
                  <h5>7. Как проверить заказ?</h5>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    <ul>
                      <li>размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору</li>
                      <li> количество артикулов отражается в счетчике KatCart-расширения</li>
                      <li>максимально возможное количество артикулов в корзине равно 10</li>
                      <li>все внесенные в корзину артикулы оформляются на одного клиента</li>
                      <li>в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed">
                  <h5>8. Как оплатить заказ?</h5>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    <ul>
                      <li>размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору</li>
                      <li> количество артикулов отражается в счетчике KatCart-расширения</li>
                      <li>максимально возможное количество артикулов в корзине равно 10</li>
                      <li>все внесенные в корзину артикулы оформляются на одного клиента</li>
                      <li>в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2 col-xs-12">
            <div class="side-form">
              <h3>Написать нам</h3>
              <form>
                <div class="form-group">
                  <label for="form-name">Имя<sup>*</sup></label>
                  <input type="text" placeholder="" id="form-name" class="form-control error"/><small class="form-text">Заполните поле</small>
                </div>
                <div class="form-group">
                  <label for="form-mail">Email<sup>*</sup></label>
                  <input type="email" placeholder="" id="form-mail" class="form-control"/><small class="form-text">Заполните поле</small>
                </div>
                <div class="form-group">
                  <label for="form-phone">Телефон<sup>*</sup></label>
                  <input type="text" placeholder="+38 (000) 555 55 55" id="form-phone" class="form-control"/><small class="form-text">Заполните поле</small>
                </div>
                <div class="form-group">
                  <label for="form-country">Страна</label>
                  <select id="form-country" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="form-qustion">Страна</label>
                  <textarea id="form-qustion" class="form-control"></textarea>
                </div>
                <div class="form-group checkbox-group">
                  <div class="form-check">
                    <label for="form-accept" class="form-check-label">
                      <input type="checkbox" id="form-accept" class="form-check-input"/>
                      <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Я принял к сведению заявление о <a href="">защите персональных данных</a>и согласен с тем, что предоставленные мною данные собираются и хранятся в электронном виде. Мои данные должны использоваться исключительно с целью обработки и ответа на мой запрос. Предоставляя контактную форму, я заявляю о своем согласии на обработку.
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a></div>
    </footer>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/ews.js"></script>
  </body>
</html>

jade/faq.jade
html
	include ./components/head.jade

	body
		include ./components/header.jade

		.faq-page
			.container
				.row
					.col-md-12
						h3 Помощь

				.row
					.col-md-12
						.video-container.bg
							// bg клас можно удалить в нем указани только минимальная висота и цвет фона сделано просто для визуального отображения
							i.fa.fa-video-camera

				.row
					.col-md-12
						h3 Остались вопросы?

				.row
					.col-md-8.col-sm-12
						.faq-accordion
							.card
								.card-header.collapsed
									h5 1. На что стоит обратить внимание при заказе через KatCart?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 2. Почему заказы из некоторых онлайн-шопов возможны только через KatCart?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 3. Для каких операционных систем устанавливается KatСart?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 4. Как добавить артикул в корзину расширения?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 5. Как проходит оформление заказа?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 6. Как использовать подарочный купон?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 7. Как проверить заказ?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 8. Как оплатить заказ?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer

					.col-md-4.offset-md-0.col-sm-8.offset-sm-2.col-xs-12
						.side-form
							h3 Написать нам
							form
								.form-group
									label(for="form-name") Имя
										sup *
									input(type="text", placeholder="").form-control.error#form-name
									small.form-text Заполните поле

								.form-group
									label(for="form-mail") Email
										sup *
									input(type="email", placeholder="").form-control#form-mail
									small.form-text Заполните поле

								.form-group
									label(for="form-phone") Телефон
										sup *
									input(type="text", placeholder="+38 (000) 555 55 55").form-control#form-phone
									small.form-text Заполните поле

								.form-group
									label(for="form-country") Страна
									select.form-control#form-country
										option(value="1") 1
										option(value="2") 2
										option(value="3") 3
										option(value="4") 4

								.form-group
									label(for="form-qustion") Страна
									textarea.form-control#form-qustion

								.form-group.checkbox-group
									.form-check
										label(for="form-accept").form-check-label
											input(type="checkbox").form-check-input#form-accept
											.checkbox-here
												img(src="img/checkbox.svg", alt="")
												i.fa.fa-check
											| Я принял к сведению заявление о 
											a(href="") защите персональных данных
											| и согласен с тем, что предоставленные мною данные собираются и хранятся в электронном виде. Мои данные должны использоваться исключительно с целью обработки и ответа на мой запрос. Предоставляя контактную форму, я заявляю о своем согласии на обработку.

								button(type="submit").btn.btn-primary Отправить




		include ./components/footer.jade
