app/home.html

<html>
  <head>
    <title>Katorg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/main.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <header>
      <div class="justify-align shadows">
        <div id="toggle-menu" class="toggle-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="main-logo"><a href="home.html"><img src="img/logo.svg" alt=""/></a></div>
        <div class="user"><a href="cart.html" class="cart"><span class="count">2</span><i class="fa fa-shopping-cart"></i></a><a href="#" id="show-user" class="login">User<i class="fa fa-caret-down"></i></a></div>
      </div>
      <div class="user-menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
              <div class="user-info">
                <p class="user-id text-md-right">User ID 102371</p>
                <p>Имя</p>
                <p>Фамилия</p>
                <p class="mail">your-email@domain.com</p>
                <div class="other-actions"><a href="#">Настройки профиля<i class="fa fa-angle-right"></i></a><a href="#">Помощь<i class="fa fa-angle-right"></i></a></div><a href="login.html" class="btn btn-primary">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="nav-inline">
                <li class="nav-item"><a href="shops.html" class="nav-link">Магазины</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Корзина</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Мои заказы</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Оплата</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Скидки</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Новости</a></li>
                <li class="nav-item"><a href="faq.html" class="nav-link">Помощь</a></li>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="home-page">
      <div class="users-actions">
        <div class="container">
          <div class="row float-columns">
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card big-card"><img src="img/shops.jpg" alt="" class="card-img"/><a href="shops.html" class="card-img-overlay">
                  <div class="inside text-md-center"><img src="img/shopping-online.svg" alt=""/>
                    <h5 class="card-title">Магазины</h5>
                  </div></a></div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card sm-card"><img src="img/orders.jpg" alt="" class="card-img"/><a href="#" class="card-img-overlay">
                  <div class="inside text-md-center"><img src="img/shopping.svg" alt=""/>
                    <h5 class="card-title">Мои заказы</h5>
                  </div></a></div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card sm-card"><img src="img/help.jpg" alt="" class="card-img"/><a href="faq.html" class="card-img-overlay">
                  <div class="inside text-md-center"><img src="img/speech-bubble.svg" alt=""/>
                    <h5 class="card-title">Помощь</h5>
                  </div></a></div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card sm-card"><img src="img/cart.jpg" alt="" class="card-img"/><a href="cart.html" class="card-img-overlay">
                  <div class="inside text-md-center"><img src="img/shape.svg" alt=""/>
                    <h5 class="card-title">Корзина</h5>
                  </div></a></div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card sm-card"><img src="img/payment.jpg" alt="" class="card-img"/><a href="cart.html" class="card-img-overlay">
                  <div class="inside text-md-center"><img src="img/credit-card.svg" alt=""/>
                    <h5 class="card-title">Оплатить</h5>
                  </div></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="actual">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>Самые актуальные предложения в @katorg.de  </h3>
            </div>
          </div>
        </div>
        <div class="most-actual">
          <div class="insta-slider"><a href="#"><img src="img/test.png" alt=""/>
              <div class="inside">
                <div class="instagram"><i class="fa fa-instagram"></i></div>
              </div></a><a href="#"><img src="img/test.png" alt=""/>
              <div class="inside">
                <div class="instagram"><i class="fa fa-instagram"></i></div>
              </div></a><a href="#"><img src="img/test.png" alt=""/>
              <div class="inside">
                <div class="instagram"><i class="fa fa-instagram"></i></div>
              </div></a><a href="#"><img src="img/test.png" alt=""/>
              <div class="inside">
                <div class="instagram"><i class="fa fa-instagram"></i></div>
              </div></a><a href="#"><img src="img/test.png" alt=""/>
              <div class="inside">
                <div class="instagram"><i class="fa fa-instagram"></i></div>
              </div></a><a href="#"><img src="img/test.png" alt=""/>
              <div class="inside">
                <div class="instagram"><i class="fa fa-instagram"></i></div>
              </div></a></div>
        </div>
      </div>
    </div>
    <footer>
      <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a></div>
    </footer>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/ews.js"></script>
  </body>
</html>

jade/home.jade
html
	include ./components/head.jade

	body
		include ./components/header.jade

		.home-page
			.users-actions
				.container
					.row.float-columns
						.col-lg-4.col-md-6.col-12
							.card.big-card
								img(src="img/shops.jpg", alt="").card-img
								a(href="shops.html").card-img-overlay
									.inside.text-md-center
										img(src="img/shopping-online.svg", alt="")
										h5.card-title Магазины

						.col-lg-4.col-md-6.col-12
							.card.sm-card
								img(src="img/orders.jpg", alt="").card-img
								a(href="#").card-img-overlay
									.inside.text-md-center
										img(src="img/shopping.svg", alt="")
										h5.card-title Мои заказы

						.col-lg-4.col-md-6.col-12
							.card.sm-card
								img(src="img/help.jpg", alt="").card-img
								a(href="faq.html").card-img-overlay
									.inside.text-md-center
										img(src="img/speech-bubble.svg", alt="")
										h5.card-title Помощь

						.col-lg-4.col-md-6.col-12
							.card.sm-card
								img(src="img/cart.jpg", alt="").card-img
								a(href="cart.html").card-img-overlay
									.inside.text-md-center
										img(src="img/shape.svg", alt="")
										h5.card-title Корзина

						.col-lg-4.col-md-6.col-12
							.card.sm-card
								img(src="img/payment.jpg", alt="").card-img
								a(href="cart.html").card-img-overlay
									.inside.text-md-center
										img(src="img/credit-card.svg", alt="")
										h5.card-title Оплатить

			.actual
				.container
					.row
						.col-md-12
							h3 Самые актуальные предложения в @katorg.de  

				.most-actual
					.insta-slider
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram


		include ./components/footer.jade
