app/login.html

<html>
  <head>
    <title>Katorg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/main.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <div class="login-page">
      <div class="container-fluid">
        <div class="white-back"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-2 col-sm-6 offset-sm-1 col-xs-12"><a href="/" class="logo"><img src="img/logo-login.svg" alt=""/></a>
              <form action="home.html">
                <div class="form-group">
                  <label for="form-email">Email</label>
                  <input type="email" id="form-email" class="form-control"/>
                </div>
                <div class="form-group"><a href="#" class="forgot-password">Забыли пароль?</a>
                  <label for="form-password">Пароль</label>
                  <div class="input-show">
                    <input type="password" id="form-password" class="form-control"/><i id="show-password" class="fa fa-eye"></i>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
                <div class="text-md-center"><a href="#">Регистрация</a></div><a href="home-not-logged.html" class="back">Вернуться к сайту</a>
              </form>
              <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/ews.js"></script>
</html>

jade/login.jade
html
	include ./components/head.jade

	body
		.login-page
			.container-fluid
				.white-back
				.container
					.row
						.col-lg-6.offset-lg-2.col-sm-6.offset-sm-1.col-xs-12
							a(href="/").logo
								img(src="img/logo-login.svg", alt="")
							form(action="home.html")
								.form-group
									label(for="form-email") Email
									input(type="email").form-control#form-email
								.form-group
									a(href="#").forgot-password Забыли пароль?
									label(for="form-password") Пароль
									.input-show
										input(type="password").form-control#form-password
										i.fa.fa-eye#show-password
								button(type="submit").btn.btn-primary Войти
								.text-md-center
									a(href="#") Регистрация
								a(href="home-not-logged.html").back Вернуться к сайту

							include ./components/social.jade
							
	script(type="text/javascript", src="js/jquery-3.3.1.min.js")
	script(type="text/javascript", src="js/ews.js")
