jade/shops.jade
html
	include ./components/head.jade

	body
		include ./components/header.jade

		.shops-list
			.container
				.row
					.col-md-12
						h3 Магазины

				.row
					.col-md-4.offset-md-4
						form.search-shop
							.form-group
								input(type="text", placeholder="Поиск магазинов").form-control
								button(type="submit").btn
									i.fa.fa-search

				.row
					.col-md-12
						.category-slider
							.slider
								.slide-item
									p Все
								.slide-item.active-item
									p Женская одежда
								.slide-item
									p Мужская одежда
								.slide-item
									p Детская одежда
								.slide-item
									p Товары для дома
								.slide-item
									p Спорт и досуг
								.slide-item
									p Мужская одежда

							.slider-nav
								.prev
									i.fa.fa-angle-left
								.next
									i.fa.fa-angle-right

			.shops-brands
				.container
					.row
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.down -5%
								.image-container
									img(src="img/shop-1.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.up +5%
								.image-container
									img(src="img/shop-2.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.image-container
									img(src="img/shop-3.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.image-container
									img(src="img/shop-1.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.up +5%
								.image-container
									img(src="img/shop-2.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.image-container
									img(src="img/shop-3.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.down -5%
								.image-container
									img(src="img/shop-1.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.up +5%
								.image-container
									img(src="img/shop-2.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.image-container
									img(src="img/shop-3.png", alt="")

		include ./components/footer.jade

app/shops.html

<html>
  <head>
    <title>Katorg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/main.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <header>
      <div class="justify-align shadows">
        <div id="toggle-menu" class="toggle-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="main-logo"><a href="home.html"><img src="img/logo.svg" alt=""/></a></div>
        <div class="user"><a href="cart.html" class="cart"><span class="count">2</span><i class="fa fa-shopping-cart"></i></a><a href="#" id="show-user" class="login">User<i class="fa fa-caret-down"></i></a></div>
      </div>
      <div class="user-menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
              <div class="user-info">
                <p class="user-id text-md-right">User ID 102371</p>
                <p>Имя</p>
                <p>Фамилия</p>
                <p class="mail">your-email@domain.com</p>
                <div class="other-actions"><a href="#">Настройки профиля<i class="fa fa-angle-right"></i></a><a href="#">Помощь<i class="fa fa-angle-right"></i></a></div><a href="login.html" class="btn btn-primary">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="nav-inline">
                <li class="nav-item"><a href="shops.html" class="nav-link">Магазины</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Корзина</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Мои заказы</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Оплата</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Скидки</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Новости</a></li>
                <li class="nav-item"><a href="faq.html" class="nav-link">Помощь</a></li>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="shops-list">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Магазины</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <form class="search-shop">
              <div class="form-group">
                <input type="text" placeholder="Поиск магазинов" class="form-control"/>
                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="category-slider">
              <div class="slider">
                <div class="slide-item">
                  <p>Все</p>
                </div>
                <div class="slide-item active-item">
                  <p>Женская одежда</p>
                </div>
                <div class="slide-item">
                  <p>Мужская одежда</p>
                </div>
                <div class="slide-item">
                  <p>Детская одежда</p>
                </div>
                <div class="slide-item">
                  <p>Товары для дома</p>
                </div>
                <div class="slide-item">
                  <p>Спорт и досуг</p>
                </div>
                <div class="slide-item">
                  <p>Мужская одежда</p>
                </div>
              </div>
              <div class="slider-nav">
                <div class="prev"><i class="fa fa-angle-left"></i></div>
                <div class="next"><i class="fa fa-angle-right"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shops-brands">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="down">-5%</div>
                <div class="image-container"><img src="img/shop-1.png" alt=""/></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="up">+5%</div>
                <div class="image-container"><img src="img/shop-2.png" alt=""/></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="image-container"><img src="img/shop-3.png" alt=""/></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="image-container"><img src="img/shop-1.png" alt=""/></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="up">+5%</div>
                <div class="image-container"><img src="img/shop-2.png" alt=""/></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="image-container"><img src="img/shop-3.png" alt=""/></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="down">-5%</div>
                <div class="image-container"><img src="img/shop-1.png" alt=""/></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="up">+5%</div>
                <div class="image-container"><img src="img/shop-2.png" alt=""/></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
              <div class="shop-card">
                <div class="image-container"><img src="img/shop-3.png" alt=""/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a></div>
    </footer>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/ews.js"></script>
  </body>
</html>
