app/shops-filters.html

<html>
  <head>
    <title>Katorg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/main.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <header>
      <div class="justify-align shadows">
        <div id="toggle-menu" class="toggle-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="main-logo"><a href="home.html"><img src="img/logo.svg" alt=""/></a></div>
        <div class="user"><a href="cart.html" class="cart"><span class="count">2</span><i class="fa fa-shopping-cart"></i></a><a href="#" id="show-user" class="login">User<i class="fa fa-caret-down"></i></a></div>
      </div>
      <div class="user-menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
              <div class="user-info">
                <p class="user-id text-md-right">User ID 102371</p>
                <p>Имя</p>
                <p>Фамилия</p>
                <p class="mail">your-email@domain.com</p>
                <div class="other-actions"><a href="#">Настройки профиля<i class="fa fa-angle-right"></i></a><a href="#">Помощь<i class="fa fa-angle-right"></i></a></div><a href="login.html" class="btn btn-primary">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="nav-inline">
                <li class="nav-item"><a href="shops.html" class="nav-link">Магазины</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Корзина</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Мои заказы</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Оплата</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Скидки</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Новости</a></li>
                <li class="nav-item"><a href="faq.html" class="nav-link">Помощь</a></li>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="shops-list">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Магазины</h3>
          </div>
        </div>
      </div>
      <div class="shops-brands">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="shops-filters">
                <div class="top-actions">
                  <p>Фильтр</p><a href="#" class="clear-filters">сбросить</a>
                </div>
                <div class="search-filter">
                  <div class="form-group">
                    <input type="text" placeholder="Поиск магазинов" class="form-control"/>
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                  </div>
                </div>
                <div class="category-accordion">
                  <div class="category-title">
                    <h5>Категории</h5>
                  </div>
                  <div class="category-list">
                    <div class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Женская одежда
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Мужская одежда 
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Детская одежда 
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Обувь
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Домашняя одежда
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Товары для дома
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Спорт и досуг
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Красота и здоровье
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Сумки и чемоданы
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Товары для дома
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="category-accordion opened">
                  <div class="category-title">
                    <h5>Бренды</h5>
                  </div>
                  <div class="category-list">
                    <div class="buy-abc"><span>A</span><span>B</span><span>C</span><span>D</span><span>E</span><span>F</span><span>G</span><span>H</span><span>I</span><span>J</span><span>K</span><span>L</span><span>M</span><span>N</span><span>O</span><span>P</span><span>Q</span><span>R</span><span>S</span><span>T</span><span>U</span><span>V</span><span>W</span><span>X</span><span>Y</span><span>Z</span></div>
                    <div class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>PREMIUM бренды
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="category-accordion">
                  <div class="category-title">
                    <h5>Страны</h5>
                  </div>
                  <div class="category-list">
                    <div class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Англия
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Италия
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="category-accordion">
                  <div class="category-title">
                    <h5>Магазины</h5>
                  </div>
                  <div class="category-list">
                    <div class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Магазин 1
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="checkbox-here"><img src="img/checkbox.svg" alt=""/><i class="fa fa-check"></i></div>Магазин 2
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-4">
                  <div class="shop-card">
                    <div class="down">-5%</div>
                    <div class="image-container"><img src="img/shop-1.png" alt=""/></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="shop-card">
                    <div class="up">+5%</div>
                    <div class="image-container"><img src="img/shop-2.png" alt=""/></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="shop-card">
                    <div class="image-container"><img src="img/shop-3.png" alt=""/></div>
                  </div>
                </div>
                <button class="btn btn-primary add-to-cart"><span>Купить</span></button>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="shop-card">
                    <div class="image-container"><img src="img/shop-3.png" alt=""/></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="shop-card">
                    <div class="down">-5%</div>
                    <div class="image-container"><img src="img/shop-1.png" alt=""/></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="shop-card">
                    <div class="up">+5%</div>
                    <div class="image-container"><img src="img/shop-2.png" alt=""/></div>
                  </div>
                </div>
                <button class="btn btn-primary add-to-cart"><span>Купить</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a></div>
    </footer>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/ews.js"></script>
  </body>
</html>

jade/components/shops-filters.jade
.shops-filters
	.top-actions
		p Фильтр
		a(href="#").clear-filters сбросить

	.search-filter
		.form-group
			input(type="text", placeholder="Поиск магазинов").form-control
			button(type="submit").btn
				i.fa.fa-search

	.category-accordion
		.category-title
			h5 Категории

		.category-list
			.form-group
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Женская одежда
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Мужская одежда 
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Детская одежда 
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Обувь
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Домашняя одежда
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Товары для дома
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Спорт и досуг
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Красота и здоровье
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Сумки и чемоданы
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Товары для дома

	.category-accordion.opened
		.category-title
			h5 Бренды

		.category-list
			.buy-abc
				span A
				span B
				span C
				span D
				span E
				span F
				span G
				span H
				span I
				span J
				span K
				span L
				span M
				span N
				span O
				span P
				span Q
				span R
				span S
				span T
				span U
				span V
				span W
				span X
				span Y
				span Z
			
			.form-group
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| PREMIUM бренды

	.category-accordion
		.category-title
			h5 Страны

		.category-list
			.form-group
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Англия
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Италия

	.category-accordion
		.category-title
			h5 Магазины

		.category-list
			.form-group
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Магазин 1
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Магазин 2
